:root {
  --primary-color: #1E88E5;
  --secondary-color: #409AE9;
  --container-color: #FAFAFA;
  --container-color-alt: #FFFFFF;
  --text-color: #212121;
  --text-color-alt: #FFFFFF;
  --theme-color: #409AE9;
  
}

html {
  position: relative;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display : none;
}
body, body.body {
  background: var(--container-color);
}
div.header {
  position: fixed;
  top:0;
  width:100%;
  transition: 0.3s linear;
  background: var(--primary-color);
  color: var(--text-color-alt);
  padding: 2.5em 0 2em 10px;
  z-index: 1;
}
span.header {
  font-size: 40px;
  font-family: system-ui, Roboto, Sans-Serif;
}
span.search {
  font-size: 20px;
  padding-top: 3px;
  position: absolute;
  right: 1em;
  opacity:0;
}
input#searchBar {
  outline: 0;
  display: none;
  width: 0%;
  transition: 0.2s;
  font-size: 18px;
  padding: 5px;
}
input#searchBar:focus {
  outline: 0;
}
.bold {
  font-weight: 600;
}
.thin {
  font-weight: 300;
}
div.headerSpacing {
  margin-top: 6.5em;
}
div.topBtnDiv {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size:20px;
  overflow-x: scroll;
  overflow-y: none;
  transform: translateY(10px);
}
div.topBtn {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  border-radius: 20px;
  background: var(--primary-color);
  color: var(--container-color);
  transition: 0.3s;
}
.topBtn:hover, .topBtn:active, .topBtn:focus {
  background: var(--container-color);
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  
}
div.divList {
  margin-top: 10px;
  width: 100%;
}
ul.ulList {
  padding:2px;
}
li.list {
  margin-left: 2%;
  width: 96%;
  border-radius: 20px;
  list-style: none;
 font-weight: 400;
 background: var(--container-color-alt);
 border: 2px solid var(--primary-color);
 padding-bottom: -70px;
}
h2.repoName {
  color: var(--text-color);
  padding-left: 1em;
  padding-top: 10px;
}
p.desc {
  color:var(--text-color);
  transform: translateY(5px);
  padding-left: 2em;
  padding-right: 2em;
}
.listBtnDiv {
  position: relative;
  display: flex;
  top:18px;
  justify-content: flex-end;
  width: 100%;
  padding-right: 1em;
}

a.btnLink, a.btnLink:visited {
  color: var(--container-color);
}
a.btnLink:focus, a.btnLink:active, a.btnLink:hover {
  color: var(--primary-color);
}
.closeBtn {
  display: none;
}
.infoBtn, .closeBtn, .githubBtn, .downBtn {
  margin-left: 10px;
  color: var(--container-color);
  height: 30px;
  width: 50px;
  padding-top: 5px;
  padding-left: 2px;
  text-align: center;
  background: var(--primary-color);
  color: var(--container-color);
  font-size: 20px;
  border-radius: 30px;
  transition: 0.3s;
}
.btn:active, .btn:hover, .btn:focus {
  background: var(--container-color) !important;
  color: var(--primary-color) !important;
  border: var(--primary-color) 1px solid;
}
.pseudoInfo {
  position: static;
  height: 22px;
  width: 100%;
  background: var(--container-color-alt);
  transform: translateY(20px);
  border-radius:  0 0 20px 20px;
}
div.infoMenu {
  padding: 0 10px 0 10px;
  padding-top: 2em;
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
  background: var(--primary-color);
  color: var(--text-color-alt);
  border-radius: 0 0 17px 17px;
  border: 3px solid var(--primary-color);
}
div.infoMenu a {
  color: var(--text-color-alt) !important;
  text-decoration: underline;
  font-style: italic;
  background: var(--secondary-color);
  border-radius: 20px;
}
div.infoMenu img {
  border-radius: 20px;
}
.fetchLoading, .loader{
  color: var(--primary-color);
  transform: translateY(10em) !important;
}




/**DESKTOP**/
@media (orientation: landscape) {
  div.header {
    padding-left: 4em;
    padding-right: 4em;
  }
  h2.repoName {
    overflow-x: scroll;
    padding-left: 0.5em;
    width: 95%;
    border-radius: 20px 0 0 20px;
  }
  div.repoListContainer {
    position: flex;
    justify-content: center;
    padding: 0 1em 0 1em;
    width: 100%;
  }
  div.divList {
    display: inline-block;
    max-width: 24%;
  }
  p.desc {
    overflow-y : scroll;
    height: 40px;
    max-height: 40px;
    margin: 0;
  }
  div.infoMenu {
    max-width: 300px;
    word-wrap: break-all;
  }
  span.search{
    opacity: 1;
  }
}
